@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,800;1,800&display=swap");
*, body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.headerIntro {
  position: relative;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerIntro h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  padding-right: 12px;
  letter-spacing: 4px;
}

.headerIntro h1:hover {
  color: #ad2020c0;
  cursor: pointer;
}

.headerIntro a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
  padding-right: 18px;
}

.headerIntro a:hover {
  color: #ad2020c0;
}

.contactGrid {
  position: relative;
  height: 50vh;
  margin-top: 200px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  opacity: 0.8;
  border-radius: 8px;
}

.contactIntro h1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .5rem;
  font-size: 50px;
}

.textWrapper {
  position: relative;
  height: 100vh;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 4rem;
  line-height: 150px;
}

li {
  list-style: none;
}

.bigTextOne, .bigTextTwo, .bigTextThree {
  font-size: 180px;
}

.bigTextOne:hover, .bigTextTwo:hover, .bigTextThree:hover {
  color: #ad2020c0;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: white;
  text-align: right;
  z-index: 100;
  padding-top: 1rem;
  padding-right: 4rem;
}

.footer p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: inline;
  float: right;
}

.footer p:hover {
  color: #ad2020c0;
  cursor: pointer;
}

.fab {
  color: white;
  z-index: 101;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.fa-github, .fa-instagram, .fa-linkedin {
  color: white;
  margin-top: .75rem;
  display: inline;
}

.fa-github:hover, .fa-instagram:hover, .fa-linkedin:hover {
  color: #ad2020c0;
  cursor: pointer;
}

.socialIcons {
  display: inline;
  padding-right: 2rem;
}
/*# sourceMappingURL=styles.css.map */